{% load static %}
{% if user.user.is_authenticated %}
    <div class="nav align-items-center">
        <div class="me-3">
            {% if user.profile_pic %}
                <a href="{% url 'profile' %}">
                    <img class="align-self-center profile-pic" src="{{ user.profile_pic.url }}" width="80" height="80">
                </a>
            {% else %}
                <a href="{% url 'profile' %}">
                    <img class="align-self-center" src="{% static 'img/nothing_to_show.svg' %}"
                         href="{% url 'profile' %}">
                </a>
            {% endif %}
        </div>

        <a href="{% url 'logout' %}" type="button" class="btn btn-outline-primary me-2">Logout</a>
    </div>
{% else %}
    <div class="text-end">
        <a id="loginBtn" href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-2">Login</a>
        <a id="signupBtn" href="{% url 'signup' %}" type="button" class="btn btn-primary">Sign-up</a>
    </div>
{% endif %}
