{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="{% static 'js/vote.js' %}"></script>
    <script type="module" src="{% static 'js/vote_answer.js' %}"></script>
    <script type="module" src="{% static "js/dropdowns.js" %}"></script>
    <script type="module" src="{% static "js/check_answer.js" %}"></script>
    <title>zenum</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/user-block.css" %}">
</head>

<body class="bg-primary">

{% include 'header.html' %}

<div style="height: 110px">

</div>

{% block content %}
{% endblock content %}

{% include 'footer.html' %}

</body>
</html>