<div style="height: 100px">

</div>
<footer class="mt-5 bg-header footer">
    <ul class="nav justify-content-center border-bottom pb-0 mb-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="{% url 'ask' %}" class="nav-link px-2 text-secondary">Ask</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">About</a></li>
    </ul>
    <p class="text-center my-2">© 2022 Company, Inc</p>
</footer>